node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
/uploads/
python_backend/venv/
python_backend/.env
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/

# Mac
.DS_Store